.jade-header-h1 {
    display: inline-block;
    margin: 0 20px 0 15px;
    padding: 0 23px 0 0;
    font-size: 20px;
    font-weight: 500;
    vertical-align: top;
    line-height: 30px;
    border-right: 1px solid var(--jade-line);
}

.jade-header-h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0
}

.jade-border {
    border-bottom: 1px solid var(--jade-border-color);
}

.main-nav {
    margin: 20px;
    width: 120px;
}

.main-content {
    margin: 20px;
}

.collapse {
    width: auto;
}

.collapse-title {
    padding: 0px;
}

.collapse-content {
    padding: 0px;
}

.jade-collapse-title {
    margin: 1px;
    color: var(--jade-collapse-title);
}

.jade-collapse-title-2 {
    margin: 1px;
}

.collapse>input[type="checkbox"] {
    padding: 0px;
}

.menu {
    padding: 0px;
}

.menu :where(li:not(.menu-title) > :not(ul, details, .menu-title, .btn)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    padding: 8px;
    margin-bottom: 2px;
    margin-left: 20px;
}

.jade-card {
    border: 1px solid var(--jade-card-border);
    padding: 10px;
    background: var(--jade-card-background);
    border-radius: 3px;
}