.jade-header-h1 {
    display: inline-block;
    margin: 0 20px 0 15px;
    padding: 0 23px 0 0;
    font-size: 20px;
    font-weight: 500;
    vertical-align: top;
    line-height: 30px;
    border-right: 1px solid var(--jade-line);
}

.jade-header-h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0
}